{
    "extends": "airbnb-base",
    "parser": "babel-eslint",
    "plugins": [
        "babel"
    ],
    "rules": {
        "no-console": 0,

        // changes from airbnb
        "no-underscore-dangle": 0,
        "indent": ["error", 4],
        "max-len": ["error", 120],
        "object-curly-spacing": 0,
        "array-bracket-spacing": 0,
        "comma-dangle": [1, "never"],

        // es7 features
        "babel/generator-star-spacing": 1,
        "babel/new-cap": 1,
        "babel/array-bracket-spacing": [1, "always"],
        "babel/object-curly-spacing": [1, "always"],
        "babel/object-shorthand": 1,
        "babel/arrow-parens": [1, "as-needed"],
        "babel/no-await-in-loop": 1,
        "babel/flow-object-type": 1
    }
}
