{
    "extends": "airbnb-base",
    "parser": "babel-eslint",
    "plugins": [
        "babel"
    ],
    "env": {
        "mocha": true
    },
    "rules": {
        "no-console": 0,

        // changes from airbnb
        "no-underscore-dangle": 0,
        "indent": ["error", 4],
        "max-len": ["error", 140],
        "object-curly-spacing": 0,
        "array-bracket-spacing": 0,
        "comma-dangle": [1, "never"],
        "no-restricted-syntax": "off",
        "no-unused-expressions": 0,

        // es7 features
        "generator-star-spacing": 1,
        "arrow-parens": [1, "as-needed"],
        "no-await-in-loop": 1,
        "object-shorthand": 1,
        "babel/new-cap": 1,
        "babel/object-curly-spacing": [1, "always"],
        "babel/flow-object-type": 1
    }
}
